<%- include('../includes/header.ejs', {titulo: 'Adicionar disciplina'}) %>
    <main>
        <h2>Editar disciplina</h2>
        <form action="/disciplinas/<%= disciplina.id_disciplina %>/editar" method="POST" class="form">
            <div class="form-group">
                <label for="nome_disciplina">Nome da disciplina</label>
                <input type="text" id="nome_disciplina" name="nome_disciplina" value="<%=disciplina.nome_disciplina%>" required/>
            </div>
            
            <div class="form-group">
                <label for="id_professor">Nome do professor</label>
                <select name="id_professor" id="id_professor">
                    <%for(let professor of professoresCadastrados) { %>
                        <option value="<%= professor.id_professor %>"
                                <% if (professor.id_professor == disciplina.id_professor) { %> 
                                    selected <%# isso serve pra: quando clicarmos em editar, o professor determinado pra aquela materia aparecera selecionado nas opções %>
                                <% } %>
                            ><%= professor.nome_professor %></option>
                    <% } %>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Salvar alterações</button>
            <a href="/disciplinas" class="btn btn-secondary">Cancelar</a>

            <!-- mensagem de erro -->
            <% if (typeof mensagem != 'undefined') { %> <!-- obs: se tivesse erro, mensagem seria undefined-->
                <p class="erro"><%= mensagem %></p>
            <% } %>
        </form>
    </main>
<%- include('../includes/footer.ejs') %>