<%- include('../includes/header.ejs', {titulo: 'Dashboard' }) %>
    <main>
        <h2>Lista de alunos</h2>
        <a href="/alunos/novo" class="btn btn-primary">Adicionar aluno</a>
        <form action="/alunos/" method="GET" class="form form-consulta">
            <input type="text" name="busca" value="<%=busca%>" placeholder="Buscar aluno">
            <button class="btn btn-primary">Buscar</button>
        </form>


        <table class="dados-table">
            <thead>
                <tr>
                    <th>Turma</th>
                    <th>Nome do aluno</th>
                    <th>Id</th>
                    <th>E-mail</th>
                    <th>CPF</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% for(let aluno of alunos) {%>
                    <tr>
                        <td><%= aluno.turma %></td>
                        <td><%= aluno.nome %></td>
                        <td><%= aluno.id_aluno %></td>
                        <td><%= aluno.email %></td>
                        <td><%= aluno.cpf %></td>
                        <td>
                            <a href="/alunos/<%= aluno.id_aluno %>/editar" class="btn btn-edit">Editar</a>
                            <form action="/alunos/<%= aluno.id_aluno %>/deletar" method="POST">
                                <button type="submit" class="btn btn-delete">Excluir</button>
                            </form>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </main>
<%- include('../includes/footer.ejs') %>