<%- include('../includes/header.ejs', {titulo: 'Editar professor' }) %>
    <main>
        <h2>Editar professor</h2>
        <form action="/professores/<%=professor.id_professor%>/editar" method="POST" class="form">
            <div class="form-group">
                <label for="nome_professor">Nome do professor</label>
                <input type="text" id="nome_professor" name="nome_professor" value="<%=professor.nome_professor%>" required/>
            </div>
            <div class="form-group">
                <label for="telefone">Telefone do professor</label>
                <input type="text" id="telefone" name="telefone" value="<%=professor.telefone%>" required/>
            </div>
            <div class="form-group">
                <label for="formacao">Formação do professor</label>
                <input type="text" id="formacao" name="formacao" value="<%=professor.formacao%>" required/>
            </div>
            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
            <a href="/professores" class="btn btn-secondary">Cancelar</a>
        </form>
    </main>
<%- include('../includes/footer.ejs') %>