<%- include('../includes/header.ejs', {titulo: 'Dashboard'}) %>

    <main class="container-fluid">
        <div class="fundo-dash text-white text-center py-3 mb-4">
            <h1>Gerenciamento Escolar</h1>
        </div>

        <!-- cards principais com valores -->
        <section class="row mb-4 text-center">
            <!-- card total de alunos -->
            <div class="col-md-3">
                <div class="card shadow-sm card-dec">
                    <div class="card-body">
                        <h5 class="card-title prompt-regular">Total de Alunos</h5>
                        <p class="card-text display-4"><%= totalAlunos%></p>
                    </div>
                </div>
            </div>
            <!-- card total de disciplinas -->
            <div class="col-md-3">
                <div class="card shadow-sm card-dec">
                    <div class="card-body">
                        <h5 class="card-title prompt-regular">Total de Disciplinas</h5>
                        <p class="card-text display-4"><%= totalDisc %></p>
                    </div>
                </div>
            </div>
            <!-- card Taxa de Aprovação -->
            <div class="col-md-3">
                <div class="card shadow-sm card-dec">
                    <div class="card-body">
                        <h5 class="card-title prompt-regular">Taxa de Aprovação</h5>
                        <p class="card-text display-4">87%</p>
                    </div>
                </div>
            </div>
            <!-- card Nº Alunos Reprovados -->
            <div class="col-md-3">
                <div class="card shadow-sm card-dec">
                    <div class="card-body">
                        <h5 class="card-title prompt-regular">Nº de Reprovações</h5>
                        <p class="card-text display-4"><%= totalReprovacoes %> </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- seçao dos graficos -->
        <section class="row">
            <!-- grafico de barras -->
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-header bg-secondary text-white">
                        Média por Disciplinas
                    </div>
                    <div class="card-body">
                        <canvas id="barrasMediaDisciplina"></canvas>

                    </div>
                </div>
            </div>
       
            <!-- grafico de pizza -->
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-header bg-secondary text-white">
                        Aprovação dos Alunos
                    </div>
                    <div class="card-body">
                        <canvas id="pizzaAprovacaoAlunos"></canvas>

                    </div>
                </div>
            </div>
        </section>
    </main>

    <script>
        // grafico Média de medias por Disciplina

        //recebendo o vetor mediaDisc com o resultado da consulta do banco de dados
        const dadosMediaDisciplinas = <%- JSON.stringify(mediaDisc) %>

        //extraindo nome e medias para gerar vetores individuais para os dados do gráfico
        const nomesDisciplinas = dadosMediaDisciplinas.map(d => d.nome_disciplina) 
        const mediasDisciplinas = dadosMediaDisciplinas.map(d => d.media) 

        // Bar Chart - Média de Notas por Disciplina
        const barCtx = document.getElementById('barrasMediaDisciplina').getContext('2d');
            new Chart(barCtx, {
                type: 'bar',
                data: {
                    labels: nomesDisciplinas,
                    datasets: [{
                        label: 'Média de Notas',
                        data: mediasDisciplinas,
                        backgroundColor: ['#007bff', '#28a745', '#ffc107', '#dc3545', '#6f42c1']
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: { display: false },
                        tooltip: { enabled: true }
                    }
                }
            });

        /********************************************************************************************/

        //Grafico pizza das aprovaçoes

        const dadosAprovacaoAlunos = <%- JSON.stringify(statusAluno) %>
        const statusAluno =  dadosAprovacaoAlunos.map(x => x.status)
        const qtdAlunos =  dadosAprovacaoAlunos.map(x => x.total)

        const pieCtx = document.getElementById('pizzaAprovacaoAlunos').getContext('2d');
            new Chart(pieCtx, {
                type: 'pie',
                data: {
                    labels: statusAluno,
                    datasets: [{
                        data: qtdAlunos,
                        backgroundColor: ['#28a745', '#dc3545', '#ffc107']
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: { display: true },
                        tooltip: { enabled: true }
                    }
                }
            });

    </script>

<%- include('../includes/footer.ejs') %>